body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(243, 220, 9, 0.124);
}

header {
    background-color: rgba(243, 220, 9, 0.124);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {    
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    padding: 2px 0px;
    position: sticky;
    top: 0px;  
    align-items: center;
    border-bottom: 4px solid gray;  
}

.titleText{
    font-family: tahoma;
    margin-left: 16px;
    color: white;
}

.campos {
    background-color: rgba(243, 220, 9, 0.124);    
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: rows;    
    padding: 16px;
}

.campos:after {
    content: "";
    display: table;
    clear: both;   
}

.divCampos{
    display: flex;    
    flex-direction: column;
    width: 100%;
}

.divNomePreco{
    display: flex;
    flex-direction: rows;
}

#nome { 
    font-family: tahoma;    
    border: 1px solid rgb(35, 32, 24);
    width: calc(100% - 150px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#preco {    
    font-family: tahoma; 
    border: 1px solid rgb(35, 32, 24);
    width: 100px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#descricao {    
    font-family: tahoma; 
    border: 1px solid rgb(35, 32, 24);
    width: calc(100% - 24px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.radioCategoria{
    font-family: tahoma; 
    color: gray;
}

.divBotao{    
    width: auto;
    margin-left: 16px;      
    align-self: flex-end;
}

.botaoAdicionar {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    margin-bottom: 7px;    
}

.botaoAdicionar:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;    
}

table,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-align: start;
}

th
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 14px;
    transition: 0.2s;
    text-align: start;
    color: gray;
}

table{
    background-color: white;
    width: 100%;
    margin: 16px;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.linhaCategoria{
    font-family: tahoma;
    background-color: gray;    
    color: white;  
    font-size: 14px;
    font-weight: bold;
}

.celulaNomeItemCardapio{
    font-family: tahoma;      
    font-size: 13px;    
}

.celulaPrecoItemCardapio{
    font-family: tahoma;      
    font-size: 13px; 
    text-align: right;   
}

.celulaDeletarItemCardapio{
    font-family: tahoma;      
    font-size: 13px;
    text-align: center; 
}


